doctype html
html
	head
		title eliminaReceta
		meta(charset="utf-8")
	body
	h1 Elimina una receta
	form(id="formElimina" action="/eliminaReceta/eliminar" method="post")
		p #{mensaje}
		p
				label(for="recetaEliminar") Elimina las recetas que incluyan el siguiente texto:
		p
				input(type="text" id="recetaEliminar" name="nombre")
		p
				input(type="hidden" name="metodo" value="delete")
				input(type="submit" value="Eliminar")